
.Navbar{
    text-align: center;
    }
    .nav-item1{
        margin-left:450%;
    }
    .title {
        padding-left: 10px;
    }
    .header-items {
        padding: 10px;
        color: white;
    }